{:db/connection {:dbtype "postgresql"
                 :dbname "hospitaldb_clj"
                 :user "postgres"
                 :password "dev92AClion"
                 :host "localhost"
                 :port 5432}


 
 ;; repositorio de pacientes, depende de la conexión
 :hospital/patient-repository {:ds #ig/ref :db/connection}

 ;; handler de la app recibe el repo como dependencia
 :app/handler {:repo #ig/ref :hospital/patient-repository}

 :jetty/server {:port 3000
                :join? false
                :handler #ig/ref :app/handler}}
